body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url('../images/back.png');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
/* services start */

#first{
  background: url("../images/1.jpg");
  background-repeat: no-repeat;
  height: 90px;
}
#second{
  background: url("../images/supplements.jpg");
  background-repeat: no-repeat;
  height: 90px;
}
#third{
  background: url("../images/1.jpg");
  background-repeat: no-repeat;
  height: 90px;
}

/* services end */